**DAY 2: ASSIGNMENT 1 (PYTHON EXERCISES)**

**DATE: 21 MAY 2021**

**AUTHOR: AAMIR P**

**REG. ID: GO_STP_7724**

Q1. We are having 3 list like this

Colors=[“Yellow”,”Green”,”White”,”Black”]

Fruits=[“Apple”,”Papaya”,”Mango”,”Orange”]

Animals=[“Tiger”,”Lion”,”Deer”,”Zebra”]

i. Write a program that asks user to enter a Color/Fruit/Animal name and it should tell which category belongs to , like          its is a fruit or color or Animal

ii. Write a program that asks user to enter two cities and it tells you if they both are in same country or not. For               example if I enter yellow and Black, it will print "Both are colors" but if I enter yellow and Tiger it should print           "They don't belong to same category"

In [ ]:
#i)
Colors=["Yellow","Green","White","Black"]

Fruits=["Apple","Papaya","Mango","Orange"]

Animals=["Tiger","Lion","Deer","Zebra"]


a = input("Enter your data: ")
if a in Colors:
  print("It is in Colors category")
elif a in Fruits:
  print(" It is in Fruits category")
elif a in Animals:
  print("It is in Animals category")

Enter your data: Mango
 It is in Fruits category

In [ ]:
#ii)
Cities = ["Chennai", "Bangalore", "Hyderabad"]
b = input("Enter the first city: ")
c = input("Enter the second city: ")
if b and c in Cities:
  print("They both are in same country")
else:
  print("They do not belong to same country")

Enter the first city: Chennai
Enter the second city: Hyderabad
They both are in same country

Q2. Write a python program that can tell you if your grade score good or not . Good Score range is 40 to 60.

  i. Ask user to enter his score.

  ii. If it is below 40 to 60 range then print that score is low

  iii. If it is above 60 then print that it is good otherwise print that it is normal

In [ ]:
d =eval(input("Enter your grade: "))
if d<40:
  print("Score low")
elif 40<d<60:
  print("Score is Normal")
else:
  print("Score is Good")

Enter your grade: 58
Score is Normal

Q3. After appearing in exam 10 times you got this result,

result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]

Using for loop figure out how many times you got Pass

In [ ]:
result = ["Pass","Fail","Fail","Pass","Fail","Pass","Pass","Fail","Fail","Fail"]
e=result.count("Pass")
print(e)

4

Q4. Write a program that prints following shape

In [ ]:
*
**
***
****
*****
****
***
**
*

In [9]:
for i in range(0,6):
  for j in range(i):
    print("*",end="")
  print()
for i in range(4,0,-1):
  for j in range(i):
    if(j<i):
      print("*",end="")
  print()

*
**
***
****
*****
****
***
**
*

Q5.Lets say you are running a 50 km race. Write a program that,

Upon completing each 10 km asks you "are you tired?" If you reply "yes" then it should break and print "you didn't finish the race" If you reply "no" then it should continue and ask "are you tired" on every km If you finish all 50 km then it should print congratulations message.

In [14]:
distance = 0
for distance in range(0,51):
  if distance<50 and distance%10==0:
    print("Are you tired?")
    racer=input()
    if racer=="yes":
      print("you didn't finish the race")
      break
    else: 
      if racer=="no":
        continue
  if distance == 50:
    print("Congratulations")

Are you tired?
no
Are you tired?
no
Are you tired?
no
Are you tired?
no
Are you tired?
no
Congratulations

Q6. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [15]:
for i in range(1500,2701):
  if(i%7==0 and i%5==0):
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

Q7. Print square of all numbers between 10 to 20 except even numbers

In [17]:
for i in range(10, 21):
  if i%2!=0:
    print(i*i)

121
169
225
289
361

Q8. Your Marks for five Test(test1 to test5) looks like this,

marks_list = [65, 75, 2100, 95, 83]

Write a program that asks you to enter marks and program should tell you in which test that expense occurred. If expense is not found then it should print that as well.

In [21]:
marks_list = [65, 75, 2100, 95, 83]
marks = int(input("Enter marks: "))
if marks in marks_list:
  print(f"The expense has occured in : {marks_list.index(marks)+1}")

Enter marks: 95
The expense has occured in : 4